/*set background color of the h1 element*/
h1 {
  text-align: center;
    background-color: rgb(255, 255, 255); 
}

/*targets the class container, sets background color*/
.container {
  background-color: rgb(255, 255, 255);
  /*add a little more vertical space between markers 
  and the edge of the container element they're in.
  This works similarly to the shorthand margin property */
  padding: 10px 0px;
}

/*targets the class marker, sets background, height and width*/
.marker {
    height: 25px;
    width: 200px;
/*sets all margin-top, margin-right, margin-bottom, 
and margin-left all to auto.*/
/*We have three separate marker div elements, they 
look like one big rectangle. We are adding some space 
between them to make it easier to see each element.*/
    margin: 10px auto;
}

/*marker one is red*/
/*updated to yellow*/
/*updated to teritary colors*/
/*updated to pure black*/
/*updated to complimentary colors*/
/*added gradient and color-stops*/
.red {
    background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(0, 255, 0) 50%, rgb(0, 0, 255) 100%);
}
/*marker two is green*/
/*updated to cyan*/
.green {
    background-color: #007F00;
}   
/*marker three is blue*/
/*updated to magenta*/
.blue {
    background-color: hsl(240, 100%, 50%);
}