h1 {
  text-align: center;
}

/*targets the class container, sets background color*/
.container {
  background-color: rgb(0, 0, 0);
  /*add a little more vertical space between markers 
  and the edge of the container element they're in.
  This works similarly to the shorthand margin property */
  padding: 10px 0px;
}

/*targets the class marker, sets background, height and width*/
.marker {
    height: 25px;
    width: 200px;
/*sets all margin-top, margin-right, margin-bottom, 
and margin-left all to auto.*/
/*We have three separate marker div elements, they 
look like one big rectangle. We are adding some space 
between them to make it easier to see each element.*/
    margin: 10px auto;
}

/*marker one is red*/
.one {
    background-color: rgb(255, 0, 0);
}
/*marker two is green*/
.two {
    background-color: rgb(0, 127, 0);
}   
/*marker three is blue*/
.three {
    background-color: rgb(0, 0, 255);
}